{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stark's Currency converter</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script src="{% static 'js/script.js' %}"></script>
</head>
<body>

<div class="container">
	<div class="row">
		<header class="col-lg-12" id="header">
			<div id="logo">
				<span>Stark's Converter</h2>
			</div>
		</header>
		<div class="col-lg-8 col-lg-offset-2 text-center" id="content">
			
			<table border="0">
				<tr>
					<td><input type="text" class="form-input" placeholder="Amount" id="amount"></td>
					<td><input type="text" class="form-input currency" placeholder="Currency" id="cur-from"></td>
					<td><input class="form-input" type="text" placeholder="to" disabled></td>
					<td><input type="text" class="form-input currency" placeholder="Currency" id="cur-to"></td>
					<td><button class="btn btn-success" id="data-submit">Convert</button></td>
				</tr>
				<tr>
					<td>
						<p class="help-block text-left">Example: 800 USD to EUR</p>
					</td>
				</tr>
				<tr>
					<td colspan="5">
						<div id="result-block"></div>
					</td>
				</tr>
			</table>
			

			
		</div>

	</div>
</div>

<div class="container">
<div class="row">
	<div class="col-lg-12" id="creator">
		<span>Created by Dmitry Chernyshov, 2015</span>
	</div>
</div>
</div>
</body>
</html>