body {
  background: url("../img/new-york.jpg") no-repeat center center fixed;
  background-size: cover; }

.danger {
  color: #FFE0B2; }

.success {
  color: #C8E6C9; }

#logo {
  margin: 15px 0px;
  font-family: "Lobster", cursive; }
  #logo span {
    font-size: 30px; }

#content {
  margin-top: 200px; }

.form-input {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: white !important;
  font-size: 20px;
  border: 0px;
  padding: 0px 10px;
  height: 40px;
  outline: none;
  box-shadow: none;
  border-radius: 0px; }

::-webkit-input-placeholder {
  color: #E0E0E0; }

::-moz-placeholder {
  color: #E0E0E0; }

::-ms-input-placeholder {
  color: #E0E0E0; }

#data-submit {
  height: 40px;
  border-radius: 0px; }

.ui-autocomplete {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden; }

#result-panel {
  background: rgba(0, 0, 0, 0.3);
  font-size: 35px;
  color: white !important;
  border: 0px;
  border-radius: 0px;
  padding: 50px 0px; }

#creator {
  margin: 15px;
  color: white;
  position: fixed;
  bottom: 0; }
