body {
  background: url("../img/new-york.jpg") no-repeat center center fixed;
  background-size: cover; }

#logo {
  margin: 15px 0px;
  font-family: "Lobster", cursive; }
  #logo span {
    font-size: 30px; }

#content {
  margin-top: 200px; }

.form-input {
  height: 40px;
  outline: none;
  box-shadow: none;
  border-radius: 0px; }

#data-input {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 20px;
  border: 0px;
  width: 84.1%;
  padding: 0px 10px; }

#data-submit {
  margin-top: -6px;
  width: 15%; }

#creator {
  margin: 15px;
  color: white;
  position: fixed;
  bottom: 0; }
