body {
  background: url("../img/new-york.jpg") no-repeat center center fixed;
  background-size: cover; }

#logo {
  margin: 15px 0px;
  font-family: "Lobster", cursive; }
  #logo span {
    font-size: 30px; }

#content {
  margin-top: 200px; }

.form-input {
  background: rgba(0, 0, 0, 0.3);
  color: white !important;
  font-size: 20px;
  border: 0px;
  padding: 0px 10px;
  height: 40px;
  margin-left: -4px;
  outline: none;
  box-shadow: none;
  border-radius: 0px; }

input::-webkit-input-placeholder {
  color: white; }

#amount {
  width: 38.3%; }

#cur-from, #cur-to {
  text-align: center;
  width: 22.7%; }

#to {
  width: 10%;
  padding: 9px; }

#data-submit {
  width: 11%;
  height: 40px;
  margin-left: -4px;
  margin-top: -6px;
  border-radius: 0px; }

.ui-autocomplete {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden; }

#creator {
  margin: 15px;
  color: white;
  position: fixed;
  bottom: 0; }
